.menu-bar {
    -fx-background-color: transparent;
}

.menu, .menu-item {
    -fx-padding: 8 15 4 15;
}

.menu:hover,
    /*显示子菜单时*/
.menu:showing {
    -fx-background-color: #d5d4d4;
}

.menu:hover > .label,
.menu:showing > .label {
    -fx-text-fill: #000000;
}

/*悬浮在上面的同时会获取焦点，鼠标移开后，:hover 消失，但焦点还在*/
.menu-item:focused {
    -fx-background-color: #a6a199;
}

.menu-item:focused > .label {
    -fx-text-fill: #ffffff;
}

.context-menu .menu-item .graphic-container .label {
    -fx-pref-width: 108px;
}

.tooltip {
    -fx-show-delay: 150ms;
}