.node {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #c2c2c2;
    -fx-border-width: 1;
    -fx-border-style: solid outside;
    -fx-background-color: white;
}

.root-node {
    -fx-border-color: #aad1ff;
    -fx-border-width: 2;
    /*-fx-font-weight: bold;*/
}

.selected-node {
    -fx-border-color: #fbc49e;
    -fx-border-width: 2;
}

.nodeImage {
    -fx-border-width: 1;
    -fx-border-style: solid outside;
    -fx-border-color: #82a7f3;
}

/* 选中文本的背景色 */
.styled-text-area .selection {
    -fx-fill: #aad1ff;
}

.styled-text-area {
    -fx-font-family: 'Microsoft YaHei';
    -fx-font-size: 20px;
}

/*——————————————————————————————————按钮——————————————————————————————————*/
.close-button, .add-button {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: white;

    -fx-min-width: -button-size;
    -fx-min-height: -button-size;
    -fx-max-width: -button-size;
    -fx-max-height: -button-size;
    -fx-background-radius: 9;

    -fx-padding: 0;
    -fx-cursor: hand;
}

.close-button {
    -fx-background-color: #7ed1d1;
    -fx-translate-x: -button-translate;
    -fx-translate-y: -button-translate-negative;
}

.close-button:hover {
    -fx-background-color: #6caaaa;
}

.add-button {
    -fx-background-color: #80d186;
}

.close-button .text, .add-button .text {
    -fx-translate-x: 0.1;
    -fx-translate-y: -3.5;
}

.add-button:hover {
    -fx-background-color: #6aae6d;
}

.add-button-r {
    -fx-translate-x: -button-translate;
}

.add-button-l {
    -fx-translate-x: -button-translate-negative;
}