.node {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #c2c2c2;
    -fx-border-width: 1;
    -fx-background-color: white;
}

.nodeImage {
    -fx-border-width: 1;
    -fx-border-color: #82a7f3;
}

/* 选中文本的背景色 */
.styled-text-area .selection {
    -fx-fill: #aad1ff;
}

.text-area {
    -fx-font-family: 'Microsoft YaHei';
    -fx-font-size: 20px;
}

/*——————————————————————————————————按钮——————————————————————————————————*/
.close-button, .action-button {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: white;

    -fx-min-width: 18px;
    -fx-min-height: 18px;
    -fx-max-width: 18px;
    -fx-max-height: 18px;
    -fx-background-radius: 9;

    -fx-padding: 0;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.close-button {
    -fx-background-color: #7ed1d1;
    -fx-translate-x: 8;
    -fx-translate-y: -8;

}

.close-button:hover {
    -fx-background-color: #6caaaa;
}

.action-button {
    -fx-background-color: #80d186;
}

.action-button:hover {
    -fx-background-color: #6aae6d;
}