.workspace {
    -fx-background-color: white;
}

.hide-tabs .tab-header-area {
    -fx-pref-height: 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
    -fx-opacity: 0;
}

/* 缩放标签 */
.scale-label {
    -fx-background-color:rgba(0, 0, 0, 0.7);
    -fx-text-fill:white;
    -fx-font-size:17;
    -fx-padding:5 10;
    -fx-background-radius:8;
}

/*——————————————————————————————————节点——————————————————————————————————*/
.nodeBorder {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #c2c2c2;
    -fx-border-width: 1;
}

.nodeImage {
    -fx-border-width: 1;
    -fx-border-color: #88adf7;
}

.close-button {
    -fx-background-color: #73bdbd;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-min-width: 17px;
    -fx-min-height: 17px;
    -fx-max-width: 17px;
    -fx-max-height: 17px;
    -fx-padding: 0;
    -fx-background-radius: 10px;
    -fx-alignment: center;
}

.nodeTextArea {
    -fx-font-size: 20;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 8;
}

.bold-text {
    -fx-font-weight: bold;
}

.red-text {
    -fx-fill: red;
}

/* 选中文本的背景色 */
.styled-text-area .selection {
    -fx-fill: #aad1ff;
}