.arc, #wheelCircle {
    -fx-stroke: #000000;
    -fx-stroke-width: 3;
}

.red-text {
    -fx-fill: #FF4500;
}

.orange-text {
    -fx-fill: #FF8C00;
}

.yellow-text {
    -fx-fill: #DAA520;
}

.gray-text {
    -fx-fill: #8c8c8c;
}

.blue-text {
    -fx-fill: #4169E1;
}

.black-text {
    -fx-fill: #000000;
}

.bold-text {
    -fx-font-weight: bold;
}

#wheelCircle {
    -fx-fill: #C9F5FF;
}

#BText {
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.quote{
    -fx-underline: true;
}

.quote:hover{
    -fx-fill: #5375f1;
}