.title-bar {
    -fx-background-color: linear-gradient(to right, #dfe9ec, #f8edd0, #e0eef1);
    -fx-pref-height: 25px;
}

/*图标、标题*/
#topLeft {
    -fx-padding: 0 0 0 15;
    -fx-spacing: 15;
    -fx-alignment: center-left;
}

#title {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

/*最小化、最大化、关闭*/
.window-btn {
    -fx-pref-width: 46px;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}

.window-btn:hover {
    -fx-background-color: #d5d4d4;
}

.close-btn:hover {
    -fx-background-color: #e81123;
    -fx-text-fill: white;
}